{% extends "common/layout_main.html" %}
{% block content %}
<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
            <ul class="nav nav-pills">

            </ul>
        </div>
    </div>
</div>

    <div class="row m-t">
        <div class="col-lg-12 m-t">
        {% with messages=get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
        {% endwith %}
            
        
    <div class="custom-flex-between">
        <!-- 删除按钮 (左) -->
        <form action="/delete_basemachine/{{current_user.id}}" method="POST" class="m-0 d-inline-flex">
            <button type="submit" class="btn btn-danger btn-lg">
                <i class="fas fa-trash"></i> 删除所有
            </button>
        </form>
        
        <!-- 添加按钮（右） -->
        <form action="{{ url_for('book.add_machine', user_id=current_user.id) }}" method="POST" class="d-inline">
            <button type="submit" class="btn btn-success btn-lg">
                <i class="fas fa-plus"></i> 插入机器
            </button>
        </form>
    </div>

  
        <table class="table table-bordered m-t">
            <thead>
            <tr>
                <th class="text-center">机器ID</th>
                <th class="text-center">机器编码</th>
                <th class="text-center">机器名称</th>
                <th class="text-center">机器状态</th>
                <th class="text-center">运行时间(小时)</th>
                <th class="text-center">所在车间</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
                {% if machines %}
                    {% for machine in machines %}
                <tr>
                    <td class="text-center">{{ machine.m_id }}</td>
                    <td class="text-center">{{ machine.m_number }}</td>
                    <td class="text-center">{{ machine.m_name }}</td>
                    <td class="text-center">{{ machine.m_state }}</td>
                    <td class="text-center">{{ "%.1f"|format(machine.m_time) if machine.m_time else 0.0 }}</td>
                    <td class="text-center">{{ machine.m_workshop }}</td>
                    <td class="text-center">
                            <!-- 编辑按钮（跳转到编辑页面） -->
                        <a href="{{ url_for('book.machine_edit', machine_id=machine.m_id,user_id=current_user.id) }}" 
                            class="btn btn-primary btn-sm me-2">
                            <i class="fas fa-edit"></i> 编辑
                        </a>
                        <form action="{{ url_for('book.machine_delete',machine_id=machine.m_id,user_id=current_user.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('确定删除吗？')">
                                删除
                            </button>
                        </form>

                    </td>
                </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="4">暂无数据~~</td></tr>
                {% endif %}
            </tbody>
        </table>
        <!--分页代码-->
    </div>
</div>
{% endblock %}