<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>plant simulation 仿真管理后台</title>
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/customize.css" rel="stylesheet">
    {% block css %}
    {% endblock %}
<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="profile-element text-center">
                        <img alt="image" class="img-circle" width="100" src="/static/images/common/logo.png"/>
                        <p class="text-muted" style="font-size:16px;margin-top:10px;">{{ current_user.username }}</p>
                    </div>
                    <div class="logo-element">
                        <img alt="image" class="img-circle"width="60" src="/static/images/common/logo.png"/>
                    </div>
                </li>
                <li class="{% if request.endpoint == 'main.index' %}active{% endif %}">
                    <a href="/"><i class="fa fa-dashboard fa-lg"></i>
                        <span class="nav-label">仪表盘</span>
                    </a>
                </li>
                <li class="{% if request.endpoint == 'book.user_list' %}active{% endif %}">
                    <a href="{{ url_for('book.user_list', bid=current_user.id) }}">
                        <i class="fa fa-user fa-lg"></i> 
                        <span class="nav-label">用户管理</span>
                    </a>
                </li>
                <li class="{% if request.endpoint == 'book.machine_list' %}active{% endif %}">
                    <a href="{{ url_for('book.machine_list', bid=current_user.id) }}">
                        <i class="fa fa-cogs fa-lg"></i> 
                        <span class="nav-label">机器管理</span>
                    </a>
                </li>
                <li class="{% if request.endpoint == 'book.workpiece_list' %}active{% endif %}">
                    <a href="{{ url_for('book.workpiece_list', bid=current_user.id) }}">
                        <i class="fa fa-cube fa-lg"></i> 
                        <span class="nav-label">工件管理</span>
                    </a>
                </li>
                <li class="{% if request.endpoint == 'book.operation_list' %}active{% endif %}">
                    <a href="{{ url_for('book.operation_list', bid=current_user.id) }}">
                        <i class="fa fa-tasks fa-lg"></i> 
                        <span class="nav-label">工序管理</span>
                    </a>
                </li>
                <li class="{% if request.endpoint.startswith('book.schedule_') %}active{% endif %}">
                    <a href="#schedule-menu" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-university fa-lg"></i> 
                        <span class="nav-label">调度生成</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul id="schedule-menu" class="nav nav-second-level collapse {% if request.endpoint.startswith('book.schedule_') %}in{% endif %}" aria-expanded="false">
                        <li class="{% if request.endpoint == 'book.schedule_static' %}active{% endif %}">
                            <a href="{{ url_for('book.schedule_static', bid=current_user.id) }}">静态调度</a>
                        </li>
                        <li class="{% if request.endpoint == 'book.schedule_dynamic' %}active{% endif %}">
                            <a href="{{ url_for('book.schedule_dynamic', bid=current_user.id) }}">动态调度</a>
                        </li>
                    </ul>
                </li>
                <li class="{% if request.endpoint == 'book.sim_list' %}active{% endif %}">
                    <a href="{{ url_for('book.sim_list', bid=current_user.id) }}">
                        <i class="fa fa-clock-o fa-lg"></i> 
                        <span class="nav-label">生产仿真管理</span>
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg" style="background-color: #ffffff;">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="javascript:void(0);"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
						<span class="m-r-sm text-muted welcome-message" style="font-size:16px;">
                            欢迎使用plant simulation管理后台
                        </span>
                    </li>
                    <li class="dropdown user_info">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                            <img alt="image" class="img-circle" src="/static/images/common/logo.png"/>
                        </a>
                        <ul class="dropdown-menu dropdown-messages" style="font-size:14px;">
                            <li>
                                <div class="dropdown-messages-box">
                                    昵称 : {{ current_user.username }} <a href="{{ url_for('book.login') }}" class="pull-right">编辑</a>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    账号 : {{ current_user.username }}
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    身份 : <span class="text-info">{% if current_user.identity == 1 %}主管理员{% else %}管理员{% endif %}</span>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="link-block text-center">
                                    <a class="pull-left" href="{{ url_for('book.login') }}" style="font-size:14px;">
                                        <i class="fa fa-lock fa-lg"></i> 修改密码
                                    </a>
                                    <a class="pull-right" href="{{ url_for('book.login') }}" style="font-size:14px;">
                                        <i class="fa fa-sign-out fa-lg"></i> 退出
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="/static/plugins/jquery-2.1.1.js"></script>
<script src="/static/bootstrap/bootstrap.min.js"></script>
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/js/common.js"></script>
{% block js %}{% endblock %}
</body>
</html>
